**/node_modules/
**/tmp.driveupload/
1-mern-notes/javascript-notes/mosh-html/3-part3/resources/before-and-after/Code_Along.zip
1-mern-notes/javascript-notes/mosh-html/2-part2/0-resources/code.zip
1-mern-notes/javascript-notes/mosh-html/3-part3/resources/Code/Moshify.zip
1-mern-notes/javascript-notes/mosh-html/3-part3/resources/project-resources/Moshify/psd/standard.psd
1-mern-notes/javascript-notes/1-JavaScript Youtube Tutorial/1-john-smilga-notes/Javascript Fundamentals.mp4
1-mern-notes/javascript-notes/mosh-html/3-part3/resources/project-resources/Moshify/psd/mobile.psd
1-mern-notes/javascript-notes/mosh-html/3-part3/resources/project-resources/Moshify.zip
extra/mosh-html/3-part3/resources/project-resources/Moshify/psd/mobile.psd
extra/jonas-basic-web/002 theory-lectures-v2-SMALLER.pdf
extra/mosh-html/3-part3/resources/Code/Moshify.zip
extra/mosh-html/3-part3/resources/project-resources/Moshify/psd/standard.psd
extra/JavaScript Youtube Tutorial/Javascript Fundamentals.mp4
extra/mosh-html/3-part3/resources/project-resources/Moshify.zip
**/\*.psd
**/\*.zip
**/\*.mp4
**/.git/

