/* these styles are mandatory in any main css file of a website */

*, 
*::before,
*::after {
  box-sizing: border-box;
}
/* * selector selects all elements EXCEPT PSEUDO ELEMENTS */

/* *::before and *::after because pseudo elements is not included in * selector.... hence we select it seperately */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Times New Roman', Times, serif; /* any font with fallback fonts */
}